Flask==1.0.2
Flask-Cors==3.0.7
Flask-PyMongo==2.2.0
Flask-SQLAlchemy==2.4.0
plotly==3.10.0
geojson==2.4.1
jsonschema==2.6.0
imblearn==0.0
sortedcollections==1.0.1
cloudpickle==0.6.1
pickleshare==0.7.5
pandas==0.23.4
numpy==1.15.4
numpydoc==0.8.0
gunicorn==19.7.1
