Flask==1.0.2
Flask-Cors==3.0.9
Flask-PyMongo==2.2.0
Flask-SQLAlchemy==2.4.0
plotly==3.10.0
geojson==2.4.1
jsonschema==2.6.0
imblearn==0.0
sortedcollections==1.0.1
cloudpickle==0.6.1
pickleshare==0.7.5
pandas==0.23.4
numpy==1.15.4
numpydoc==0.8.0
gunicorn==19.7.1
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
mesh-tensorflow==0.0.5
tensor2tensor==1.11.0
tensorboard==1.14.0
tensorboardcolab==0.0.22
tensorflow==1.14.0
tensorflow-estimator==1.14.0
tensorflow-hub==0.4.0
tensorflow-metadata==0.13.0
tensorflow-probability==0.7.0
pydot==1.3.0
pydot-ng==2.0.0
pydotplus==2.0.2
