.navbar-default {
    background-color: lightgrey;
    border-color: #E7E7E7;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.centered {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;

}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
}

#class-table {
  width: 80%;
}

#features-table{
  width: 50%
}



tr:nth-child(even) {background-color: #f2f2f2;}
